QComboBox QAbstractItemView::item
{
	height: 25px;
}

QListWidget::item
{
	height: 20px;
}

QScrollBar:horizontal
{
	height: 15px;
	margin: 0;
}

QScrollBar:vertical
{
	width: 15px;
	margin: 0;
}

QTabBar::tab
{
	height: 25px;
}

QTabWidget::pane
{
	margin: 2px 1px 0 1px;
	padding: 0;
}